$main: #103C8E;
$black: #000;
$white: #fff;
$gray: darkgray;

$c1: #282C34;
$c2: #373D47;
$c3: #9EA3B2;
$c4: #21252B;

//media query
$device-large-pc: 1280px;
$device-small-pc: 960px;
$device-tablet: 782px;
$device-mobile: 480px;

@mixin max-screen($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin min-screen($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin screen($breakpoint-min,$breakpoint-max) {
  @media screen and (min-width: $breakpoint-min) and (max-width: $breakpoint-max) {
    @content;
  }
}

@font-face {
  font-family: 'Tuffy';
  src: url('../font/tuffy/Tuffy.ttf') format('truetype'),
       url('../font/tuffy/Tuffy.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tuffy';
  src: url('../font/tuffy/Tuffy_Bold.ttf') format('truetype'),
       url('../font/tuffy/Tuffy_Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Tuffy';
  src: url('../font/tuffy/Tuffy_Bold_Italic.ttf') format('truetype'),
       url('../font/tuffy/Tuffy_Bold_Italic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Tuffy';
  src: url('../font/tuffy/Tuffy_Italic.ttf') format('truetype'),
       url('../font/tuffy/Tuffy_Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}


ul,ol,li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
}
