@import "_setup.scss";

.App {
  text-align: center;
  min-height: 100vh;
  position: relative;
  margin: 0;
  touch-action: manipulation;
  @include max-screen($device-small-pc) {
    min-height: inherit!important;
  }
}
