@import "_setup.scss";


.blue-wrapper {
  position: relative;
  &:before,&:after,span:before,span:after  {
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    border: solid 2px skyblue;
    position: absolute;
  }
  &:before {
    top: -6px;
    left: -6px;
  }
  &:after {
    top: -6px;
    right: -6px;
  }
  span {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    &:after {
      bottom: -7px;
      right: -7px;
    }
    &:before {
      bottom: -7px;
      left: -7px;
    }
  }
}

.section-atelier  {
  display: flex;
  flex-wrap: wrap;
  user-select: none;
  .section-menubar {
    flex-basis: 100vw;
    z-index: 10000;
  }
  .section-toolspanel,.section-artboard,.section-gallalypanel{
    height: 93vh;
  }
  .section-toolspanel {
    flex-basis: 55px;
    flex-shrink: 100px;
    background: #FFF;
    color: #000;
    border-right: solid 1px #E4E4E4;
    z-index: 1000;
    ul  {
      margin-top: 10px;
      li {
        margin-top: 10px;
      }
    }
    .color-scheme {
      margin-top: 10px;
    }
  }
  .section-artboard {
    flex: 1;
    background: #E4E4E4;
    z-index: 0;
  }
  .section-gallalypanel {
    background: #FFF;
    color: #000;
    flex-shrink: 400px;
    flex-basis: 30%;
    z-index: 1000;
    border-left: solid 1px #E4E4E4;
    overflow-x: hidden;
    .react-tabs {
      margin-top: 10px;
      .react-tabs__tab-list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 90%;
        margin: 0 auto;
        .react-tabs__tab {
          border: solid 1px #E4E4E4;
          border-radius: 1000px;
          display: inline-block;
          width: auto;
          padding: 5px 10px;
        }
        .react-tabs__tab--selected {
          background: #000;
          color: #fff;
        }
      }
      .react-tabs__tab-panel {
        overflow-x: scroll;
      }
    }
    .gallary-category-list {
      width: 400px;
      border: solid 1px red;
      li {
        display: inline-block;
        margin-right: 10px;
        span {
          display: block;
          border: solid 1px #E4E4E4;
          width: 70px;
          height: 70px;
          border-radius: 50%;
        }
        p {
          margin: 0;
        }
      }
    }
  }
}

.dark-mode {
  .section-menubar {
    div a, div p {
      color: $c3;
    }
    div:nth-child(3) {
      div p {
        background: $c2;
      }
    }
  }
  .section-toolspanel {
    background: $c1;
    border-right: solid 1px $c4;
    color: $c3;
    span {
      color: $c3;
    }
  }
  .section-artboard {
    background: $c2;
  }
  .section-gallalypanel {
    background: $c1;
    border-left: solid 1px $c4;
    .react-tabs {
      background: $c1;
      .react-tabs__tab-list {
        .react-tabs__tab {
          border: solid 1px $c2;
          color: $c3;
        }
        .react-tabs__tab--selected {
          background: $c4;
          color: $c3;
        }
      }
    }
  }
}
