@import "_setup.scss";


.blue-wrapper {
  position: relative;
  &:before,&:after,span:before,span:after  {
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    border: solid 2px skyblue;
    position: absolute;
  }
  &:before {
    top: -6px;
    left: -6px;
  }
  &:after {
    top: -6px;
    right: -6px;
  }
  span {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    &:after {
      bottom: -7px;
      right: -7px;
    }
    &:before {
      bottom: -7px;
      left: -7px;
    }
  }
}

.section-atelier  {
  display: flex;
  flex-wrap: wrap;
  user-select: none;
  position: relative;
  .section-topbar {
    flex-basis: 100vw;
    z-index: 2000;
  }
  .section-toolspanel,.section-artboard,.section-gallalypanel{
    height: 93vh;
  }
  .section-toolspanel {
    flex-basis: 55px;
    flex-shrink: 100px;
    background: #FFF;
    color: #000;
    border-right: solid 1px #E4E4E4;
    z-index: 2000;
    ul  {
      margin-top: 10px;
      li {
        margin-top: 10px;
      }
    }
    .color-scheme {
      margin-top: 10px;
    }
  }
  .section-artboard {
    z-index: -1;
    touch-action: none;
    passive : false;
    flex: 1;
    background: #E4E4E4;
    z-index: 0;
    position: relative;
    #svg {
      z-index: -1;
    }
  }
  @include max-screen($device-mobile) {
    display: flex;
    .section-toolspanel {//93
      height: 7vh;
      display: flex;
      flex-basis: 100%;
      justify-content: space-around;
      align-items: center;
      z-index: 10000!important;
      span {
        display: flex;
      }
      .color-scheme {
        display: flex;
      }
    }
    .section-artboard {
      height: 53vh;
      flex-basis: 100%;
      z-index: -1!important;
      //overflow: hidden;
      svg#svg {
        z-index: -1!important;
      }
    }
    .section-gallalypanel{
      flex-basis: 100%;
      height: 33vh;
    }
  }
}

#font {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
}

.dark-mode {
  .section-menubar {
    div a, div p {
      color: $c3;
    }
    div:nth-child(3) {
      div p {
        background: $c2;
      }
    }
  }
  .section-toolspanel {
    background: $c1;
    border-right: solid 1px $c4;
    color: $c3;
    span {
      color: $c3;
    }
  }
  .section-artboard {
    background: $c2;
  }
  .section-gallalypanel {
    background: $c1;
    border-left: solid 1px $c4;
    .react-tabs {
      background: $c1;
      .react-tabs__tab-list {
        .react-tabs__tab {
          border: solid 1px $c2;
          color: $c3;
        }
        .react-tabs__tab--selected {
          background: $c4;
          color: $c3;
        }
      }
    }
  }
}
