@import "_setup.scss";

.section-gallalypanel {
  background: #FFF;
  color: #000;
  flex-shrink: 400px;
  flex-basis: 30%;
  z-index: 1000;
  border-left: solid 1px #E4E4E4;
  .gallary-category-list {
    //display: none;
    display: block;
    margin-top: 20px;
    margin-left: 0px;
    margin-bottom: -10px;
    padding-bottom: 15px;
    max-width: 350px;
    width: 100%;
    overflow-x: scroll;
    -ms-overflow-style: none;    /* IE, Edge 対応 */
    scrollbar-width: none;       /* Firefox 対応 */
    &::-webkit-scrollbar {  /* Chrome, Safari 対応 */
        display:none;
    }
    ul {
      width: 500px;
      display: flex;
      li {
        display: inline-block;
        margin-right: 10px;
        span {
          display: block;
          border: solid 1px #E4E4E4;
          width: 70px;
          height: 70px;
          border-radius: 50%;
        }
        p {
          margin: 0;
        }
      }
    }
  }
  .gallaryframe {
    outline: solid 2px #F0F0F0;
    border: solid 2px #fff;
    border-top: solid 4px #fff;
    border-bottom: solid 1px #F0F0F0;
    background: #ffffff;
    width: 97%;
    margin: 0 auto;
    margin-top: 15px;
    height: 455px;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    -ms-overflow-style: none;    /* IE, Edge 対応 */
    scrollbar-width: none;       /* Firefox 対応 */
    &::-webkit-scrollbar {  /* Chrome, Safari 対応 */
        display:none;
    }
    &:after {
      display: block;
      content:"";
      flex-basis: 33.333%;
    }
    .item {
      text-align: center;
      border: solid 2px #ffffff;
      border-top: solid 0px #ffffff;
      border-bottom: solid 4px #ffffff;
      box-sizing: border-box;
      background: #F0F0F0;
      //
      background: linear-gradient(45deg, #F0F0F0 25%, transparent 25%, transparent 75%, #F0F0F0 75%),
              linear-gradient(45deg, #F0F0F0 25%, transparent 25%, transparent 75%, #F0F0F0 75%);
      background-color: #EAEAEA;
      background-size: 16px 16px;
      background-position: 0 0, 8px 8px;
      //
      flex-basis: 33.3333%;
      padding-bottom:33.3333%;
      border-radius: 5px;
      font-size: 0;
      overflow: hidden;
      height: 105px;
      svg {
        height: 106px;
        display: block;
        margin: 0 auto;
        font-size: 0;
        object-fit: contain;
      }
    }
  }
  @include max-screen($device-small-pc) {
    .react-tabs {
      .react-tabs__tab-panel {
        .gallaryframe {
          .item {
            flex-basis: 50%;
            padding-bottom:50%;
          }
        }
      }
    }
  }
  @include max-screen($device-tablet) {
    .react-tabs {
      .react-tabs__tab-panel {
        .gallaryframe {
          display: block;
          .item {
            padding-bottom:100%;
          }
        }
      }
    }
  }
  @include max-screen($device-mobile) {
    .react-tabs {
      .react-tabs__tab-panel {
        .gallaryframe {
          display: flex;
          .item {
            flex-basis: 50%;
            padding-bottom:50%;
          }
        }
      }
    }
  }
}

.category_button_active {
  span {
    border: solid 1px $main!important;
  }
}

.drawer {
  margin-left: -20px;
  position: relative;
  .drawer-button {
    position: relative;
    position: absolute;
    top: 100px;
    left: -20px;
    box-sizing: border-box;
    width: 40px;
    height: 75vh;
    z-index: 0;
    //opacity: 0.3;
    //background: red;
    p {
      position: relative;
      top: 45%;
      left: 100%;
      transform: translate(-50%,-50%);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      box-sizing: border-box;
      line-height: 3.6;
      background: #fff;
      text-align: left;
      text-indent: 1rem;
      opacity: 0;
      transition: all ease .2s;
      z-index: 0;
      background: linear-gradient(90deg, #E4E4E4 0%, #fff 0%,  #fff 100% );
      span {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: block;
        color: lightgray;
        background: #fff;
        font-size: 1.1rem;
        width: 38px;
        height: 38px;
        border-radius: 50%;
      }
    }
    &:hover {
      p {
        opacity: 1;
        transition: all ease .1s;
        left: 60%;
        background: linear-gradient(90deg, #E4E4E4 0%, #E4E4E4 40%, #fff 40%,  #fff 100% );
      }
    }
  }
  .drawer-content {
    width: 95%;
    margin: 0 auto;
    position: relative;
    z-index: 1!important;
  }
  @include max-screen($device-mobile) {
    margin-left: 0;
  }
}

.drawer.hide {

  flex-shrink: 30px;
  flex-basis: 30px;
  .drawer-content {
    display: none;
  }
}

.drawer.show {
  .drawer-content {
    display: block;
  }
}

.dark-mode {
  .drawer {
    .drawer-button {
      p {
        background: $c1;
        background: linear-gradient(90deg, $c4 0%, $c1 0%,  $c1 100% );
        &:hover {
          p {
            background: linear-gradient(90deg, $c4 0%, $c4 40%, $c1 40%, $c1 100% );
          }
        }
        span {
          background: $c1;
          color: $c3;
        }
      }
    }
  }
  .section-gallalypanel {
    background: $c1;
    border-left: solid 1px $c4;
    .react-tabs {
      background: $c1;
      .react-tabs__tab-list {
        .react-tabs__tab {
          border: solid 1px $c2;
          color: $c3;
        }
        .react-tabs__tab--selected {
          background: $c4;
          color: $c3;
        }
      }
      .react-tabs__tab-panel {
        .gallaryframe {
          background: $c4;
          outline: solid 2px $c2;
          border: solid 2px $c4;
          border-top: solid 4px $c4;
          .item {
            border: solid 2px $c4;
            border-top: solid 0px $c4;
            border-bottom: solid 4px $c4;
            box-sizing: border-box;
            background: $c3;
          }
        }
      }
    }
  }
}
