@import "_setup.scss";

.section-home {
  text-align: left;
  background: #F7F7F7;
  .flexbox {
    display: flex;
    max-width: 1100px;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}

main {
  flex-flow:1;
  flex-basis: 60%;
}

aside {
  flex-basis: 260px;
  .sendFeedback {
    text-align: center;
    margin-top: 40px;
    a {
      display: block;
      color: $gray;
      border: solid 1px $gray;
      border-radius: 1000px;
      font-weight: 600;
      padding: 5px 0;
      transition: all ease .4s;
      span {
        display: block;
        font-size: 1.0rem;
        color: lightgray;
      }
      &:hover {
        background: #000;
        color: #fff;
        transition: all ease .2s;
      }
    }
  }
  ul {
    margin-top: 50px;
    li {
      margin: 5px 0;
      list-style-type: disc;
      list-style-position: inside;
      a {
        color: deepskyblue;
      }
      a:visited{
        color: slateblue;
      }
    }
  }
  .message {
    background: #fff;
    margin-top: 50px;
    padding: 15px 0 45px;
    h2, p {
      margin: 0 auto;
      width: 90%;
    }
    h2 {
      font-size: 1.2rem;
      color: gray;
      margin-bottom: 10px;
    }
    p {
      font-weight: 600;
    }
    button {
      display: inline-block;
      float: right;
      margin-right: 25px;
      margin-bottom: 30px;
      border: solid 1.5px $gray;
      background: #fff;
      color: gray;
      font-weight: 600;
      padding: 5px 0;
      width: 100px;
      border-radius: 5px;
    }
  }
}

.react-tabs {
  background: #fff;
  color: #000;
  .react-tabs__tab-list {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      width: 150px;
      text-align: center;
      border-right: solid 1px #E4E4E4;
      border-bottom: solid 1px #E4E4E4;
      padding: 10px 0;
    }
    li.react-tabs__tab--selected {
      border-bottom: none;
    }
  }
  .react-tabs__tab-panel {
    width: 100%;
  }
  .react-tabs__tab-panel>div {
    width: 90%;
    margin: 20px auto 0;
  }
}

.section-dashboard {
  flex: 1;
  height: 100vh;
  &>div {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
  }
  .section-new {
    order: 0;
    flex-basis: 400px;
    flex-basis: 70%;
    h2 {
      margin-top: 20px;
      font-weight: 600;
    }
  }
  .your-document {
    order: 3;
    flex-basis: 100%;
    h2 {
      font-weight: 600;
      margin-top: 30px;
      margin-bottom: -10px;
    }
  }
  .news-feed {
    order: 2;
    flex-basis: 500px;
    .article {

    }
  }
}

.section-color-scheme {
  display: flex;
  flex-wrap: nowrap;
  .create-color-scheme {
    h2 {
      font-size: 16px;
    }
    ul {
      li {
        width: 150px;
        border: solid 1px #E4E4E4;
        line-height: 0;
        border-radius: 5px;
        padding: 1px 0 1px 3px;
        display: flex;
        align-items: center;
        margin: 0 0 4px;
        span {
          border: solid 1px #E4E4E4;
          display: inline-block;
          width: 25px;
          height: 25px;
          border-radius: 5px;
          margin-right: 10px;
        }
      }
    }
    input {
      border: solid 1.5px #707070;
      background: none;
      padding: 5px 0;
      border-radius: 5px;
      width: 200px;
      text-indent: 1em;
      font-weight: bold;
      box-sizing: border-box;
      &::placeholder {
        color: #707070;;
      }
    }
    input[type=submit] {
      color: #707070;
      font-size: 14px;
      text-transform: uppercase;
      text-indent: 0em;
    }
  }
  .color-scheme-list {
    background: #FAFAFA;
    width: 60vw;
    &>div {
      display: block;
      padding-top: 15px;
      width: 90%;
      margin: 0 auto;
    }
    .color-scheme-item {
      margin-bottom: 10px;
      .color-scheme-title {
        font-weight: bold;
        margin: 0;
      }
      .color-scheme {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        li {
          flex-basis: 50%;
          margin: 0;
          padding: 0;
          span.pallet {
            border: solid 1px #E4E4E4;
            display: inline-block;
            box-sizing: border-box;
            width: 45px;
            height: 45px;
            margin: 1px;
            border-radius: 5px;
          }
        }
      }
    }
  }
}

.section-template {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .template-item {

  }
}

.setion-usersetting {
  img {
    border-radius: 50%;
  }
}

.template-list {
  background: #fff;
  //display: flex;
  //align-items: flex-end;
  padding-top: 10px;
  width: 750px;
  &>div {
    width: 750px;
    overflow-x: scroll;
    //sscrollbar-width: thin!important;
  }
  ul {
    width: 900px;
    margin-bottom: 15px;
    display: flex;
    align-items: flex-end;
    li {
      background: #F0F0F0;
      display: inline-block;
      width: 120px;
      height: 120px;
      margin-left: 30px;
      padding-top: 10px;
      border-radius: 5px;
      div {
        border: solid 1px gray;
        background: #fff;
        margin: 0 auto;
      }
      p {
        color: gray;
        font-weight: 600;
        text-align: center;
        font-size: 1.2rem;
        span {
          display: block;
          color: gray;
          font-size: 1.0rem;
        }
      }
    }
  }
  .edit-templates {
    text-align: right;
    margin-right: 10px;
    color: $gray;
    margin-top: -5px;
    padding-bottom: 10px;
    &:hover {
      cursor: pointer;
    }
  }
}

.document-list-column {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: space-between;
  height: 280px;
  width: 750px;
  margin-top: 30px;
  &:after {
    display: block;
    content:"";
    flex-basis: 30%;
  }
  li {
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    border-radius: 5px;
    margin-bottom: 30px;
    flex-basis: 30%;
    overflow: hidden;
    div.thumb {
      padding: 10px 0;
      border-radius: 5px 5px 0 0;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        display: block;
        margin: 0 auto;
        object-fit: contain;
        width: 100%;
        max-height: 150px;
        vertical-align: middle;
      }
    }
    h3,p {
      width: 90%;
      margin: 0 auto;
    }
    h3 {
      margin-top: 10px;
    }
    p {
      margin-top: 5px;
      margin-bottom: 10px;
      color: $gray;
      font-size: 1.2rem;
    }
  }
}

.document-list {
  overflow-y: scroll;
  height: 280px;
  margin-top: 30px;
  li {
    padding: 7px 0;
    border-bottom: solid 1px lightgray;
    a {
      display: flex;
    }
    .thumb {
      border-radius: 5px;
      height: 80px;
    }
    svg {
      margin: 5px;
      width: 70px!important;
      height: 70px!important;
    }
    div:first-child {
      margin-right: 10px;
      vertical-align: middle;
    }
    div {
      p {
        color: $gray;
        font-size: 1.2rem;
        margin-top: -10px;
      }
    }
  }
}

.toggle-document-list {
  float: right;
  margin-top: -10px;
  li {
    display: inline-block;
    padding: 5px;
    color: $gray;
    margin-left: 5px;
  }
  li.display {
    position: relative;
    &:before {
      background: rgba(180,180,180,0.3);
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left:0;
      bottom:0;
      right:0;
    }
    &:first-child:before {
      animation: FromRight .2s linear 0s;
    }
    &:last-child:before {
      animation: FromLeft .2s linear 0s;
    }
  }
}


@keyframes FromRight{
    from{
        width: 0;
        transform: translateX(40px);
    }
    to{
        width: 100%;
        transform: translateX(0px);
    }
}

@keyframes FromLeft{
    from{
        width: 0;
        transform: translateX(-15px);
    }
    to{
        width: 100%;
        transform: translateX(0px);
    }
}

.new-feed {
  margin-top: 30px;
  //margin-bottom: 30px;
  .slick-slider {
    max-width: 280px;
    width: 100%;
    //box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    border-radius: 5px;
    .slick-dots {
      li {
  			margin: 0 0.25rem;
  		}
      button {
  			display: block;
  			width: 0.8rem;
  			height: 0.8rem;
  			padding: 0;
  			border: none;
  			border-radius: 100%;
  			background-color: #9EA3B2;
  			text-indent: -9999px;
        opacity: 0.4;
  		}
  		li.slick-active button {
  			background-color: #9EA3B2;
        opacity: 1;
  		}
    }
  }
  .article {
    background: #fff;
    width: 300px;
    border-radius: 5px;
    img {
      width: 100%;
      border-radius: 5px 5px 0 0;
    }
    h3 {
      text-align: center;
      margin: 10px 0 2px;
      padding-bottom: 10px;
      color: $gray;
      font-weight: 600;
    }
  }
}

.modal-content {
  max-width: 750px;
  justify-content: space-around;
  align-items: stretch;
  border-radius: 10px;
  .preview,.setting {
    padding: 30px 0;
  }
  .preview {
    border-radius: 10px 0 0 10px;
    flex-basis: 50%;
    background: #000;
    height: auto;
    padding: 30px 0;
    position: relative;
    h2 {
      font-weight: 600;
      font-size: 1.6rem;
      color: lightgray;
      margin-top: 0;
      width: 90%;
      margin: 0 auto;
      margin-top: -15px;
    }
    svg {
      width: 90%;
      margin: 0 auto;
      display: block;
      //border:solid 10px #F0F0F0;
      box-sizing:border-box;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
  .setting {
    flex-basis: 50%;
    padding: 20px 0;
    h2,label,p,.color-picker,div.flex {
      width: 90%;
      margin: 0 auto;
    }
    h2 {
      font-weight: 600;
      font-size: 1.6rem;
      color: gray;
      margin-top: 0;
      margin-bottom: 10px;
      span {
        font-size: 1.2rem;
        margin-left: 10px;
      }
    }
    input {
      border: none;
      border-bottom: solid 1.5px lightblue;
      appearance: none;
      -webkit-appearance: none;
      margin: 0;
      &:focus {
        outline: none;
      }
    }
    input[type=text] {
      margin-bottom: 10px;
    }
    label {
      display: block;
      margin-bottom: 5px;
    }
    input[type=number] {
      -moz-appearance: textfield;
    }
    input[type=number]:last-child {
      margin-bottom: 5px;
    }
    div.flex {
      display: flex;
      justify-content: space-around;
      margin-top: 10px;
      button {
        border: solid 2px darkgray;
        border-radius: 1000px;
        margin-top: 10px;
        width: 45%;
        flex-basis: 45%;;
        font-size: 1.4rem;
        padding: 5px 0;
        font-weight: bold;
        color: darkgray;
        background: #fff;
        &:last-child {
          background: deepskyblue;
          border: solid 2px deepskyblue;
          color: #fff;
        }
      }
    }
  }
}



.dark-mode {
  background: #21252B;
  .section-menubar {
    background: #282C34;
    border-bottom: solid 1px #373D47;
    .mode-change {
      color: deepskyblue;
    }
  }
  .section-dashboard {
    h2 {
      color: #9EA3B2;
    }
    .template-list {
      background: #282C34;
      border: solid 1px #373D47;
      ul {
        li {
          background: #373D47;
          div {
            background: #373D47;
            border: solid 0.8px #797F8A;
          }
          p, span {
            color: #9EA3B2;
          }
        }
      }
    }
    .document-list-column {
      li {
        background: #282C34;
        border: solid 1px #373D47;
        p {
          color: #9EA3B2;
        }
      }
    }
  }
  aside {
    .new-feed {
      .slick-slider {
        .slick-dots {
          button {
      			background-color: #9EA3B2;
            opacity: 0.6;
      		}
      		li.slick-active button {
      			background-color: #ffffff;
      		}
        }
      }
      .article {
        background: #282C34;
        border: solid 1px #373D47;
        box-sizing: border-box;
        h3 {
          color: #9EA3B2;
        }
      }
    }

    ul.url {
      li {
        list-style-type: none;
        display: flex;
        align-items: center;
        a {
          color: deepskyblue;
        }
        a:visited{
          color: #9EA3B2;
        }
      }
      li:before {
        content: "";
        display: inline-block;
        margin-right: 5px;
        width: 5px;
        height: 5px;
        background: #9EA3B2;
        border-radius: 50%;
      }
    }
    .sendFeedback {
      a {
        color: #9EA3B2;
        border: solid 1px #9EA3B2;
        span {
          color: lightgray;
        }
        &:hover {
          background: #000;
          color: #fff;
        }
      }
    }
  }
}
