@import "_setup.scss";

.section-home {
  text-align: left;
  background: #F7F7F7;
  .flexbox {
    display: flex;
    max-width: 1100px;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}

main {
  flex-flow:1;
  flex-basis: 60%;
}

aside {
  flex-basis: 280px;
  .sendFeedback {
    text-align: center;
    margin-top: 25px;
    a {
      display: block;
      color: $gray;
      border: solid 1px $gray;
      border-radius: 1000px;
      font-weight: 600;
      padding: 5px 0;
      transition: all ease .4s;
      span {
        display: block;
        font-size: 1.0rem;
        color: lightgray;
      }
      &:hover {
        background: #000;
        color: #fff;
        transition: all ease .2s;
      }
    }
  }
  ul {
    margin-top: 20px;
    li {
      margin: 5px 0;
      list-style-type: disc;
      list-style-position: inside;
      a {
        color: deepskyblue;
      }
      a:visited{
        color: slateblue;
      }
    }
  }
  .message {
    background: #fff;
    margin-top: 50px;
    padding: 15px 0 45px;
    h2, p {
      margin: 0 auto;
      width: 90%;
    }
    h2 {
      font-size: 1.2rem;
      color: gray;
      margin-bottom: 10px;
    }
    p {
      font-weight: 600;
    }
    button {
      display: inline-block;
      float: right;
      margin-right: 25px;
      margin-bottom: 30px;
      border: solid 1.5px $gray;
      background: #fff;
      color: gray;
      font-weight: 600;
      padding: 5px 0;
      width: 100px;
      border-radius: 5px;
    }
  }
}

.react-tabs {
  background: #fff;
  color: #000;
  .react-tabs__tab-list {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      width: 150px;
      text-align: center;
      border-right: solid 1px #E4E4E4;
      border-bottom: solid 1px #E4E4E4;
      padding: 10px 0;
    }
    li.react-tabs__tab--selected {
      border-bottom: none;
    }
  }
  .react-tabs__tab-panel {
    width: 100%;
  }
  .react-tabs__tab-panel>div {
    width: 90%;
    margin: 20px auto 0;
  }
}

.section-dashboard {
  flex: 1;
  &>div {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
  }
  .section-new {
    order: 0;
    flex-basis: 400px;
    flex-basis: 70%;
    h2 {
      margin-top: 20px;
    }
  }
  .your-document {
    order: 3;
    flex-basis: 100%;
    h2 {
      margin-top: 20px;
    }
  }
  .news-feed {
    order: 2;
    flex-basis: 500px;
    .article {

    }
  }
}

.section-color-scheme {
  display: flex;
  flex-wrap: nowrap;
  .create-color-scheme {
    h2 {
      font-size: 16px;
    }
    ul {
      li {
        width: 150px;
        border: solid 1px #E4E4E4;
        line-height: 0;
        border-radius: 5px;
        padding: 1px 0 1px 3px;
        display: flex;
        align-items: center;
        margin: 0 0 4px;
        span {
          border: solid 1px #E4E4E4;
          display: inline-block;
          width: 25px;
          height: 25px;
          border-radius: 5px;
          margin-right: 10px;
        }
      }
    }
    input {
      border: solid 1.5px #707070;
      background: none;
      padding: 5px 0;
      border-radius: 5px;
      width: 200px;
      text-indent: 1em;
      font-weight: bold;
      box-sizing: border-box;
      &::placeholder {
        color: #707070;;
      }
    }
    input[type=submit] {
      color: #707070;
      font-size: 14px;
      text-transform: uppercase;
      text-indent: 0em;
    }
  }
  .color-scheme-list {
    background: #FAFAFA;
    width: 60vw;
    &>div {
      display: block;
      padding-top: 15px;
      width: 90%;
      margin: 0 auto;
    }
    .color-scheme-item {
      margin-bottom: 10px;
      .color-scheme-title {
        font-weight: bold;
        margin: 0;
      }
      .color-scheme {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        li {
          flex-basis: 50%;
          margin: 0;
          padding: 0;
          span.pallet {
            border: solid 1px #E4E4E4;
            display: inline-block;
            box-sizing: border-box;
            width: 45px;
            height: 45px;
            margin: 1px;
            border-radius: 5px;
          }
        }
      }
    }
  }
}

.section-template {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .template-item {

  }
}

.setion-usersetting {
  img {
    border-radius: 50%;
  }
}

.template-list {
  background: #fff;
  //display: flex;
  //align-items: flex-end;
  padding-top: 10px;
  width: 750px;
  &>div {
    width: 750px;
    overflow-x: scroll;
  }
  ul {
    width: 900px;
    margin-bottom: 15px;
    li {
      background: #F0F0F0;
      display: inline-block;
      width: 120px;
      height: 120px;
      margin-left: 30px;
      padding-top: 10px;
      border-radius: 5px;
      div {
        border: solid 1px gray;
        background: #fff;
        margin: 0 auto;
        //width: 80px;
        //height:100px;
      }
      p {
        color: gray;
        font-weight: 600;
        text-align: center;
        font-size: 1.2rem;
        span {
          display: block;
          color: gray;
          font-size: 1.0rem;
        }
      }
    }
  }
  .edit-templates {
    text-align: right;
    margin-right: 10px;
    color: $gray;
    margin-top: -5px;
    padding-bottom: 10px;
    &:hover {
      cursor: pointer;
    }
  }
}

.document-list {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: space-between;
  height: 280px;
  width: 750px;
  margin-top: 30px;
  &:after {
    display: block;
    content:"";
    flex-basis: 30%;
  }
  li {
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    border-radius: 5px;
    margin-bottom: 30px;
    flex-basis: 30%;
    div {
      padding: 10px 0;
      border-radius: 5px 5px 0 0;
      svg {
        display: block;
        margin: 0 auto;
      }
    }
    h3,p {
      width: 90%;
      margin: 0 auto;
    }
    h3 {
      margin-top: 10px;
    }
    p {
      margin-top: 5px;
      margin-bottom: 10px;
      color: $gray;
      font-size: 1.2rem;
    }
  }
}

.new-feed {
  margin-top: 30px;
  //margin-bottom: 30px;
  .slick-slider {
    max-width: 300px;
    width: 100%;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    border-radius: 5px;
  }
  .article {
    background: #fff;
    width: 300px;
    border-radius: 5px;
    img {
      width: 100%;
    }
    h3 {
      text-align: center;
      margin: 10px 0 2px;
      padding-bottom: 10px;
      color: $gray;
      font-weight: 600;
    }
  }
}
