@import "_setup.scss";

.section-topbar {
  flex-basis: 100%;
  width: 100%;
  background: #FFF;
  border-bottom: solid 1px #E4E4E4;
  display: flex;
  justify-content: space-between;
  min-height: 45px;
  height: 7vh;
  align-items: center;
  &>div {
    &:nth-child(1) {
      flex-basis: 55px;
      a {
        color: $main;
      }
    }
    &:nth-child(2) {
      flex-basis: 145px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: $main;
      &>div:nth-child(1){
        flex-basis: 55%;
        &>div {
          position: absolute;
          backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px);
          background: rgba(0,0,0,0.7);
          width: 200px;
          ul {
            text-align: left;
            width: 90%;
            margin: 10px auto;
            li {
              color: #fff;
              padding: 10px 0;
              text-indent: .5rem;
              transition: all ease .3s;
              border-radius: 5px;
              &:hover {
                background: $main;
                transition: all ease .3s;
              }
            }
          }
        }
        .artboardSettingWindow{
          transform:translateY(-1000px);
          transition-delay: .1s;
        }
        &:hover {
          .artboardSettingWindow{
            animation: fadeIn .2s linear 0s;
            transform:translateY(0px);
            transition-delay: 0s;
          }
        }
      }
      &>div:nth-child(2){
        flex-basis: 45%;
      }
      &>div:after {
        content: "";
        display:block;
        height: 3px;
        width: 0%;
        margin-top: -3px;
        background: $main;
        transition: ease all .2s;
      }
      &>div:hover:after {
        content: "";
        display:block;
        height: 3px;
        width: 100%;
        background: $main;
        transition: ease all .2s;
      }
    }
    &:nth-child(3) {
      flex-basis: auto;
      flex-grow: 1;
    }
    &:nth-child(4) {
      flex-basis: 200px;
      p {
        border: solid 1.5px $main;
        color: $main;
        font-weight: 500;
        padding: 5px 0;
        width: 100px;
        border-radius: 100px;
        float: right;
        margin-right: 20px;
        font-size: 1.3rem;
      }
      @include max-screen($device-mobile) {
        display: none;
      }
    }
  }
  .icon {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 0;
    margin-top: 4px;
    margin-left: 10px;
  }
  .topbar__artboardName {
    p {
      padding: 5px 10px;
      display: inline-block;
      border-radius: 5px;
      position: relative;
      color: $main;
      font-weight: 600;
      &:before, &:after {
        content: "";
        display: block;
        position: absolute;
        top:0;left:0;right:0;bottom:0;
        background: $main;
        z-index: -1;
        border-radius: 5px;
      }
      &:after {
        background: #fff;
        opacity: 0.9;
      }
    }
  }
  .mode-change {
    padding: 5px 0;
    color: $main;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bolder;
    margin-right: 20px;
    text-align: center;
  }
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeOut{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.artboardSettingsBackground {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  width: 100vw!important;
  background: rgba(180,180,180,0.5)!important;
  opacity: 0;
  z-index: -1000px;
  transition: all ease .5s;
  .artboardSettings {
    position: absolute;
    background: #fff;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    padding-bottom: 15px;
    transition: all ease .5s;
    p {
      color: #000;
      background: #fff!important;
    }
    label {
      display: block;
      input {
        border: none;
        border-bottom: solid 2px lightblue;
        margin-left: 10px;
        margin-right: 5px;
        &::-webkit-outer-spin-button,&::-webkit-inner-spin-button {
          appearance: none;
          -webkit-appearance: none;
          margin: 0;
        }
      }
      input[type=number] {
        -moz-appearance:textfield; /* Firefox */
        width: 50px;
      }
      input:focus {
        outline: none;
      }
    }
    button {
      border: solid 1.5px gray;
      color: gray;
      border-radius: 1000px;
      font-weight: 500;
      background: #fff;
      &:last-child {
        background: $main;
        color: #fff;
        border-color: $main;
        margin-top: 10px;
      }
    }
  }
}

.active {
  opacity: 1;
  z-index: 1000px;
  transition: all ease .3s;
  .artboardSettings {
    top: 50%;
    transition: all ease .3s;
  }
}

.form-document {
  p {
    margin: 0 0 10px 0;
  }
  input[type="text"] {
    display: block;
    width: 100%;
    padding: 5px 0;
    font-size: 1.0rem;
    text-indent: .5rem;
    margin-bottom: 10px;
  }
  button {
    border: solid 1.5px $main;
    border-radius: 100px;
    font-weight: bolder;
    width: 70px;
    padding: 4px 0 5px;
    background: none;
    color: $main;
    margin-right: 10px;
  }
  input[type="submit"] {
    background: $main;
    color: #fff;
    border: none;
    font-weight: bolder;
    border-radius: 100px;
    padding: 5px 0 6px;
    width: 70px;
  }
}

.modal-botton {
  border: none;
  background: none;
}

.section-nav a {
  margin-top: 20px;
  display: inline-block;
  padding: 0 10px;
}

.export-pannel {
  z-index: 10000;
  .export-pannel-background {
    position: absolute;
    background: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
  }
  .export-pannel-content {
    z-index: 999999;
    max-width: 950px;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 0 0 30px 0!important;
    border-radius: 5px;
    .export-pannel-content_title {
      font-family: 'SourceSansPro';
      font-weight: bold;
      width: 100%;
      background: $maindark;
      flex-basis: 100%;
      color: #fff;
      font-size: 1.2rem;
      margin: 0;
      margin-bottom: 20px;
      text-align: center;
      border-radius: 5px 5px 0 0;
      padding: 10px 0;
      text-transform: uppercase;
    }
    .export-pannel-preview {
      text-align: left;
      flex-basis: 50%;
      width: 100%;
      svg {
        border: solid 3px #F0F0F0;
      }
      .preview {
        font-family: "SourceSansPro";
        color: $sub;
        font-size: 1.2rem;
      }
    }
    .export-pannel-setting {
      flex-basis: 48%;
      max-width: 300px;
      font-family: "SourceSansPro";
      font-weight: 600;
      color: $maindark;
      h2 {
        font-family: "SourceSansPro";
        color: $sub;
        font-weight: 700;
        font-size: 1.4rem;
      }
      p {
        align-items: center;
        display: flex;
        color: #000;
        span {
          margin-right: 20px;
          font-weight: bold;
        }
        input.export-pannel-artboardname {
          width: 200px;
          margin-top: 10px;

        }
      }
      label {
        font-family: "SourceSansPro";
        display: block;
        color: $maindark;
        font-weight: 600;
      }
      a {
        border-bottom: 1px solid $main;
        color: $main;
      }
      input.export-pannel-artboardname {
        border: none;
        border-bottom: solid 1px $maindark;
      }
      .cancel, .download {
        border: solid 2px $sub;
        font-family: "SourceSansPro";
        text-transform: uppercase;
        border-radius: 1000px;
        margin: 30px 5px 0;
        width: 57%;
        font-size: 1.5rem;
        padding: 6px 0;
        font-weight: bold;
        color: $sub;
      }
      .cancel {
        background: #fff;
        width: 35%;
      }
      .download {
        background: $maindark;
        color: #fff;
        border: solid 2px $maindark;
      }
      .attribute-attention {
        border: none;
        margin-top: 20px;
        h2 {
          color: $maindark;
        }
        .attribute-attention-box {
          border: none;
          display: flex;
          width: 95%;
          .attribute-attention-text  {
            overflow: scroll;
            background: $maindark;
            border: none;
            flex-grow: 1;
            border-radius: 5px 0 0 5px;
            #attribute-attention-text {
              background: $maindark;
              outline: none;
              margin: 9px 0;
              width: 400px;
              color: #fff;
              text-indent: 1rem;
            }
          }
          button {
            font-family: "SourceSansPro";
            flex-basis: 60px;
            color: #fff;
            max-width: 100px;
            text-transform: uppercase;
            border-radius: 0;
            margin:0;
            border: none;
            font-size: 1.2rem;
            background: $sub;
            border-radius: 0 5px 5px 0;
            &:hover {
              background: $main;
            }
          }
        }
      }
    }
  }
}

.dark-mode {
  .artboardSettingsBackground {
    background: rgba(0,0,0,0.5)!important;
    .artboardSettings {
      background: $c1;
      border: solid 1px $c2;
      border-radius: 5px;
      p {
        color: $c3;
        background: $c1!important;
        font-weight: 600;
      }
      label {
        color: $c3;
        input {
          background: $c1!important;
          color: $c3;
          border-bottom: solid 1px lightblue;
        }
        input[type=number] {
        }
      }
      button {
        border: solid 1.5px $c3;
        color: $c3;
        background: $c1;
        &:last-child {
          background: $main;
          color: #fff;
          border-color: $main;
        }
      }
    }
  }
  .export-pannel  {
    .export-pannel-content {
      border: solid 1px $c2;
      background: $c1;
      h2,p,span,label {
        color: $c3;
      }
      input {
        background: $c1;
        color: $c3;
      }
      .cancel {
        background: $c1;
        border: solid 2px $c3;
        color: $c3;
      }
    }
  }
}
